.Header {
  background-color: black;
  height: 55px;
  text-align: center;
  font-size: 37px;
}
* {
  font-family: "Fraunces", serif;
}
h1 {
  margin-right: 40%;
  font-family: "Fraunces", serif;
}
.jobs-container {
  margin-top: 5%;
}
.form-inline {
  margin-bottom: 5%;
}
#post {
  margin-inline-end: auto;
}
