.card-body {
  display: grid;
  margin-left: 15%;
  width: 1100px;
  height: 200px;
  color: white;
  background-color: #19768d;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-jobs {
  height: 70px;
  width: 80px;
  margin-left: 0.5%;
}
.more-jobs {
  position: absolute;
  margin-top: 5%;
  margin-left: 60%;
  margin-bottom: 90%;
  height: 70px;
  width: 300px;
}
.key-search {
  margin-top: 5%;
  margin-left: 20%;
  height: 70px;
  width: 300px;
  border-radius: 10%;
  border-radius: 5px;
  border: 2px solid transparent;
  color: black;
  background-color: rgba(17, 17, 17, 0.2);
  border-bottom: 5px solid #1467ac;
}
.text-center {
  margin-left: 13%;
  margin-top: 15%;
}

.h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(17, 8, 8);
  background-color: transparent;
}
.label-category {
  display: flex;
  margin-left: 15%;
  color: rgb(17, 8, 8);
  background-color: transparent;
}
.select1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  max-width: 100px;

  background-color: #def3f8;
}
.pa {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2px;
  font-size: 40px;
  margin-left: 7%;

  color: rgb(89, 101, 139);
}

.select1 {
  max-width: 50px;
}

.btn2 {
  margin-left: 2px;
  background: #079cc2;
  max-width: 50px;
  border-radius: 10px;
}

.btn2:hover {
  background: #b8caf1;
  color: rgb(5, 5, 5);
  border: none;
}
