.navbar {
  height: 80px;
  color: rgb(255, 247, 247);
  background-color: rgb(5, 0, 0);
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  position: absolute;
  color: white;
  margin-left: 20%;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 80vh;
  font-size: 2rem;
}

.nav-menu{
  position: absolute;
  color: white;
  background-color: rgb(12, 2, 2);
  width: 50px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 80px;
  left: 0%;
  /* left: -100%; */
  transition: 850ms;
  overflow: hidden;
}
.nav-menu:hover {
  width: 200px;
}

.nav-text {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 70px;
}
p{
  display: inline-block;
  font-size: 40px;
  margin-right: 10px;
}
a {
  display: inline-block;
  margin-left: 10%;
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
}
.nav-text a{
  margin-top: 100px;
  margin-left: 60px;
  color: rgb(12, 1, 1);
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}


.nav-menu-items {
  height: 60px;
  width: 50%;

}

span {
  margin-top: 10px;
  font-size: 30px;
  transform: translateX(-20px);
  z-index: 0;
  transition: 1s;
}

span:hover{
  color: rgb(31, 219, 219);
  transform: translateY(-2%)
}

.navbar-brand #red {
  font-size: 40px;
  color: rgb(216, 25, 25);
}

.navbar-brand #blue {
  font-size: 40px;
  color: #3611da;
}
