.navbar {
  height: 80px;
  color: rgb(255, 247, 247);
  background-color: rgb(5, 0, 0);
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  color: white;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
}
.nav-menu {
  color: white;
  background-color: rgb(5, 0, 0);
  width: 200px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0%;
  /* left: -100%; */
  transition: 850ms;
}

.nav-text {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 70px;
}
a {
  margin-left: 5%;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}
.nav-text a {
  text-decoration: none;
  color: rgb(243, 235, 235);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.nav-text :hover {
  background-color: rgb(39, 34, 34);
}
.nav-menu-items {
  width: 60%;
}

span {
  margin-left: 0%;
}

.navbar-brand #red {
  color: rgb(216, 25, 25);
}

.navbar-brand #blue {
  color: #3611da;
}
