* {
  font-family: "Bree Serif", serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
  
}
.App {
  text-align: center;
}

body {
  

}

.App-link {
  color: #030303;
}

nav {
  border-bottom: 2px solid transparent;
  background-color: #fcfcfc;
  transition: 0.6s;
}

