body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#container {
  display: flex;
  justify-content: center;
  width: 100%;
}
#form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
  max-width: 400px;
  padding: 90px;
  border-color: solid rgb(17, 53, 211);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px #97c0e7;
  background-color: rgba(17, 17, 17, 0.8);
  border-top: 5px solid rgb(17, 53, 211);
  border-bottom: 5px solid #e40f0f;
}
#form-input {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}
select {
  color: rgb(10, 6, 1);
  background-color: rgba(120, 141, 155, 0.8);
}
textarea,
input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid black;
}
#message {
  padding: 20px;
  border: 2px solid grey;
  border-radius: 5%;
  background: transparent;
  display: block;
}
.button {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 20%;
  text-align: center;
  height: 50px;
  width: 100px;
  padding: 15px;
  color: beige;
  background-color: #e22424;
  border: 2px solid rgb(128, 121, 121);
  border-radius: 5px;
  box-shadow: 5px 10px 20px #0d0d0e;
  cursor: pointer;
  font-style: oblique;
}
.editar,
.finalizar {
  margin-top: 10%;
  text-align: center;
  height: 50px;
  width: 100px;
  color: beige;
  border: 5px solid rgb(128, 121, 121);
  border-radius: 5px;
  box-shadow: 5px 10px 20px #0d0d0e;
  cursor: pointer;
  font-style: oblique;
}
.editar {
  background-color: rgb(230, 192, 25);
}
.finalizar {
  background-color: rgb(21, 146, 21);
}

.popUp {
  position: absolute;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  height: 100%;
  color: white;
  background: rgba(194, 23, 23, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  border-radius: 10%;
  border-color: solid rgb(17, 53, 211);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px #97c0e7;
  background-color: rgba(17, 17, 17, 0.8);
  border-top: 5px solid rgb(17, 53, 211);
  border-bottom: 5px solid #e40f0f;
  visibility: hidden;
}
img {
  margin-left: 10%;
  width: 200px;
  height: 250px;
}
/* #descripcion{
  border: 5px solid blue;
} */
label {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 20%;
  color: rgba(120, 141, 155, 0.8);
}
