body {
  background: linear-gradient(to right, rgb(46, 46, 104), rgb(218, 152, 152));
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#container {
  display: grid;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  margin-left: 15%;
}
#form {
  display: flexbox;
  flex-direction: inherit;
  margin-bottom: 2%;
  padding: 5%;
  max-width: 600px;
  margin-left: 10%;
  padding: 100px;
  color: black;
  border-color: solid rgb(17, 53, 211);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px #915ea5;
  background-color: rgba(246, 247, 248, 0.8);
  border-top: 5px solid #915ea5;
  border-bottom: 5px solid #e40f0f;
}
#form-input {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}
select {
  color: rgb(10, 6, 1);
  background-color: rgba(120, 141, 155, 0.8);
}
textarea,
input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid black;
}
#message {
  padding: 20px;
  border: 2px solid grey;
  border-radius: 5%;
  background: transparent;
  display: block;
}
.button {
  margin-top: 20%;
  height: 60px;
  text-align: center;
  color: beige;
  border: 2px solid rgb(128, 121, 121);
  border-radius: 5px;
  box-shadow: 5px 10px 20px #0d0d0e;
  cursor: pointer;
}
.icon-r {
  width: 20px;
  height: 20px;
  margin-left: 2%;
  color: black;
  background-color: rgb(8, 0, 0);
}
.editar,
.finalizar {
  margin-top: 10%;
  text-align: center;
  height: 50px;
  width: 100px;
  color: beige;
  border: 5git px solid rgb(128, 121, 121);
  border-radius: 5px;
  box-shadow: 5px 10px 20px #0d0d0e;
  cursor: pointer;
  font-style: oblique;
}
.text-black {
  display: flex;
  flex-direction: row;
  margin-bottom: 20%;
  text-shadow: 5px 10px 20px #0d0d0e;
}
.editar {
  background-color: rgb(230, 192, 25);
}
.finalizar {
  margin-left: 5%;
}
.regis-img {
  width: 220px;
  height: 150px;
  margin-bottom: 10%;
  color: black;
}
.popUp {
  position: absolute;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  height: 100%;
  margin-left: 30%;
  color: rgb(231, 207, 207);
  background: rgba(194, 23, 23, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  border-radius: 10%;
  border-color: solid rgb(17, 53, 211);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px #915ea5;
  background-color: rgb(168, 121, 162);
  border-top: 5px solid#915ea5;
  border-bottom: 5px solid #e40f0f;
  visibility: hidden;
}

img {
  margin-left: 10%;
  width: 200px;
  height: 250px;
}
/* #descripcion{
  border: 5px solid blue;
} */
label {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 20%;
  color: rgba(120, 141, 155, 0.8);
}
select {
  margin-top: 5%;
}
