body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: rgb(7, 7, 7);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1%;
  margin-top: 0%;
  background-color: rgb(255, 255, 255);
}
#r {
  color: blue;
}
#d {
  color: rgb(230, 8, 8);
}
#counter {
  justify-content: right;
}
#container {
  display: flex;
  justify-content: center;
  height: 100%;
}
#form {
  display: inline-table;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;

  padding: 2%;

  border-color: solid rgb(236, 228, 228);
  border-radius: 5px;
  box-shadow: 5px 10px 20px 20px #97c0e7;
  background-color: rgb(178, 183, 206);
}
form input {
  border-radius: 5px;
}
#button {
  margin-top: 10%;
  margin-left: 35%;
  height: 50px;
  width: 100px;
  color: beige;
  background-color: #e40f0f;
  border: 2px solid rgb(128, 121, 121);
  border-radius: 5px;
  box-shadow: 5px 10px 20px #97c0e7;
}
