h1 {
  color: white;
  background-color: black;
}
#crud-cont {
  position: absolute;
  color: black;
  margin-left: 50%;
}
#footer {
  background-color: black;
  position: absolute;
  margin-top: 30%;
  height: 200px;
  width: 1295px;
  margin-left: 13%;
}
button{
    background-color: blueviolet;
}
*{
    color: white; 
}
/* background-color: rgba(17, 17, 17, 0.8); */